

<br><br><br>
<h2>Página de Contáctenos =>contact.component.html</h2>
<p>contact works!</p>

<img  src="https://th.bing.com/th/id/OIP.77pc_nT4pe127HY3pGCFCAEoDS?pid=ImgDet&rs=1" alt='imagen contactenos' with='600 px'>

