/* You can add global styles to this file, and also import other style files */
/* Otra forma de importar los CSS de Bootstrap */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css');

body{
    margin: 30px, 60px;
    padding:60px;
}