
<style>
    .card2{
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        /* margin:auto;
        padding:10px; */
    }
    
    .card3{
        margin:auto;
        padding:10px;
    }

</style>

<br><br><br>
<h2>Página de Home =>home.component.html</h2>
<p>home works!</p>

<br><br>
<hr>
<h1 style="text-align: center" >Productos disponibles</h1>
<hr>

<!-- Card de Bootstrap -->
<div class="card2" >
    <div class="card3" *ngFor="let datos of productos">
        <div class="card" style="width: 18rem;">
            <img src="{{datos.urlimg}}" class="card-img-top" alt="imagen producto">
            <div class="card-body">
              <h4 style="text-align:center" class="card-title">{{datos.nombre}}</h4>
              <hr>
              <p class="card-text"><b>Descripción: </b>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <hr>
              <p><b>id:</b>{{datos.id}}</p>
              <hr>
              <p><b>Producto:</b>{{datos.nombre}}</p>
              <hr>
              <p><b>Cantidad:</b>{{datos.cantidad}}</p>
              <hr>
              <p><b>Categoria:</b>{{datos.categoria}}</p>
              <hr> 
              <p><b>Precio:</b>{{datos.precio}}</p>
              <hr> 
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
</div>

<b>Descripción:</b>

  <br><br>
  <hr>

<h3>Nuestro Logo</h3>

<img
    width="400"
    alt="Logo UIS Mision TIC 2022" 
    src="https://cdn.pixabay.com/photo/2014/04/03/10/00/shopping-cart-309592_960_720.png"
    
>


