

<br><br><br>
<h2>Página de Tablero =>dashboard.component.html</h2>
<p>dashboard works!</p>


<!-- Tabla de productos bootstrap -->
<br><br>
<hr>
<h3 style="text-align: center;">Lista de Productos</h3>
<hr>
<br>
<table class="table">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Categoría</th>
          <th scope="col">Precio</th>
          <th scope="col">Imagen</th>
          <th scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
        <!-- Aqui aparecen 3 filas, la idea es que un for genere las necesarias -->
        <tr *ngFor="let datos of productos;let num=index">
          <th scope="row">{{datos.id}}</th>
          <td>{{datos.nombre}}</td>
          <td>{{datos.cantidad }}</td>
          <td>{{datos.categoria}}</td>
          <td>{{datos.precio}}</td>
          <td><img height="80px" src="{{datos.urlimg}}" alt="imagen producto"></td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="button" (click)="editarForm(datos._id,datos.id,datos.nombre,datos.cantidad,datos.categoria,datos.precio,datos.urlimg)" class="btn btn-success">Editar Datos</button>
                <button type="button"  (click)="eliminar(datos._id)"    class="btn btn-danger">Eliminar</button>
                <!-- <button type="button" class="btn btn-warning">Middle</button>     -->
            </div>
          </td>
        </tr>
        <!-- <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr> -->
    </tbody>
</table>


<div *ngIf="!formEditar">
  <!-- Formulario agregar producto => de Bootstrap -->
  <br><br>
  <hr>
  <h3 style="text-align: center;">Agregar Productos</h3>
  <hr>
  <br>

  <form class="row g-3">
      <!-- <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div> -->
      <!-- <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div> -->
      <div class="col-12">
        <label for="inputAddress" class="form-label"><b>Nombre Producto</b></label>
        <input [(ngModel)]="nombre" (ngModelChange)='nombre=$event' [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="inputAddress" placeholder="Ejemplo: Chatas">
      </div>
      <div class="col-12">
          <label for="inputAddress1" class="form-label"><b>Cantidad</b></label>
          <input [(ngModel)]="cantidad" (ngModelChange)='cantidad=$event' [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="inputAddress1" placeholder="Ejemplo:66">
        </div>
      <div class="col-12">
        <label for="inputAddress2" class="form-label"><b>Categoria</b></label>
        <input  [(ngModel)]="categoria" (ngModelChange)='categoria=$event' [ngModelOptions]="{standalone: true}"  type="text"  class="form-control" id="inputAddress2" placeholder="Ejemplo:Carnes">
      </div>
      <div class="col-12">
          <label for="inputAddress3" class="form-label"><b>Precio</b></label>
          <input  [(ngModel)]="precio" (ngModelChange)='precio=$event' [ngModelOptions]="{standalone: true}"  type="text"  class="form-control" id="inputAddress3" placeholder="Ejemplo:20000">
      </div>
      <div class="col-12">
          <label for="inputAddress4" class="form-label"><b>URL imagen</b></label>
          <input  [(ngModel)]="urlimg" (ngModelChange)='urlimg=$event' [ngModelOptions]="{standalone: true}"  type="text"  class="form-control" id="inputAddress4" placeholder="Ejemplo:https://th.bing.com/th?id=OIF.s4OzWLU0OYlxbB9rPI4%2fQQ&pid=ImgDet&rs=1">
      </div>
      
      <!-- <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">State</label>
        <select id="inputState" class="form-select">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div> -->
      <!-- La funcionalidad click hace que lo que se introduzca en un formulario apaeezca en una tabla -->
      <div class="col-4">
          <button type="reset">Borrar Datos</button>
      </div>
      <div class="col-4"> 
        <button type="submit" (click)="guardarProducto()" class="btn btn-primary">Guardar Producto</button>
      </div>
      
  </form>

  <br><br>

<!-- ############################################################ -->


</div>

<div *ngIf="formEditar">
  <!-- Formulario agregar producto => de Bootstrap -->
  <br><br>
  <hr>
  <h3 style="text-align: center; color: brown">Editar Producto # {{id}}</h3>
  <hr>
  <br>

  <form class="row g-3">
      <!-- <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div> -->
      <!-- <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div> -->
      <div class="col-12">
        <label for="inputAddress0" class="form-label"><b>Código Producto</b></label>
        <input value="{{_id}}"  readonly="readonly"  [(ngModel)]="_id" (ngModelChange)='_id=$event' [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="inputAddress0" placeholder="asdurfcjif">
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label"><b>Nombre Producto</b></label>
        <input value="{{nombre}}" [(ngModel)]="nombre" (ngModelChange)='nombre=$event' [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="inputAddress" placeholder="Ejemplo: Chatas">
      </div>
      <div class="col-12">
          <label for="inputAddress1" class="form-label"><b>Cantidad</b></label>
          <input value="{{cantidad}}" [(ngModel)]="cantidad" (ngModelChange)='cantidad=$event' [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="inputAddress1" placeholder="Ejemplo:66">
        </div>
      <div class="col-12">
        <label for="inputAddress2" class="form-label"><b>Categoria</b></label>
        <input  value="{{categoria}}" [(ngModel)]="categoria" (ngModelChange)='categoria=$event' [ngModelOptions]="{standalone: true}"  type="text"  class="form-control" id="inputAddress2" placeholder="Ejemplo:Carnes">
      </div>
      <div class="col-12">
          <label for="inputAddress3" class="form-label"><b>Precio</b></label>
          <input  value="{{precio}}" [(ngModel)]="precio" (ngModelChange)='precio=$event' [ngModelOptions]="{standalone: true}"  type="text"  class="form-control" id="inputAddress3" placeholder="Ejemplo:20000">
      </div>
      <div class="col-12">
          <label for="inputAddress4" class="form-label"><b>URL imagen</b></label>
          <input  value="{{urlimg}}" [(ngModel)]="urlimg" (ngModelChange)='urlimg=$event' [ngModelOptions]="{standalone: true}"  type="text"  class="form-control" id="inputAddress4" placeholder="Ejemplo:https://th.bing.com/th?id=OIF.s4OzWLU0OYlxbB9rPI4%2fQQ&pid=ImgDet&rs=1">
      </div>
      
      <!-- <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">State</label>
        <select id="inputState" class="form-select">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div> -->
      <!-- La funcionalidad click hace que lo que se introduzca en un formulario apaeezca en una tabla -->
      <div class="col-4">
          <button type="reset">Cancelar</button>
      </div>
      <div class="col-4"> 
        <button type="submit" (click)="actualizarProducto()" class="btn btn-primary">Actualizar Producto # {{id}}</button>
      </div>
      
    </form>

  <br><br>
</div>


<img  with="600 px" alt="imagen tablero" src="https://th.bing.com/th?id=OIF.s4OzWLU0OYlxbB9rPI4%2fQQ&pid=ImgDet&rs=1">